.container {
    background-color: $Color-2;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__adress {
        padding: 10px;
        border: 1px solid $Color-1;
    }

    &__button {
        margin-top: 50px;
        width: 150px;
    }
}