.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $Color-1;



    &__text {
        margin-bottom: 2px;
    }
}