/* Color Theme Swatches in Hex */
$Color-1: #B0C1D9;
$Color-2: #3B4B59;
$Color-3: #8EA8BF;
$Color-4: #D9BFA9;
$Color-5: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Nature-1-rgba: rgba(175, 193, 216, 1);
$Nature-2-rgba: rgba(58, 75, 89, 1);
$Nature-3-rgba: rgba(141, 168, 191, 1);
$Nature-4-rgba: rgba(216, 191, 169, 1);
$Nature-5-rgba: rgba(12, 12, 12, 1);

/* Color Theme Swatches in HSLA */
$Nature-1-hsla: hsla(213, 34, 76, 1);
$Nature-2-hsla: hsla(208, 20, 29, 1);
$Nature-3-hsla: hsla(208, 28, 65, 1);
$Nature-4-hsla: hsla(28, 38, 75, 1);
$Nature-5-hsla: hsla(0, 0, 5, 1);