/* Color Theme Swatches in Hex */
$Color-1: #A0D9D9;
$Color-2: #D6FFFF;
$Color-3: #e3f0ff;
$Color-4: #BF9765;
$Color-5: #D92B04;

/* Color Theme Swatches in RGBA */
$Color-1a: rgba(68, 133, 140, 1);
$Color-2a: rgba(160, 216, 216, 1);
$Color-3a: rgba(216, 196, 136, 1);
$Color-4a: rgba(191, 150, 101, 1);
$Color-5a: rgba(216, 43, 4, 1);